:root {
	--color-blue: #0157ea;
	--color-blue-hover: #3779eb;
	--color-black: #00040c;
	--color-gray: #f2f2f2;
	--color-dark-gray: #191d24;

	--color-dark-text: #00040c;
	--color-white-text: #ffffff;
}

$lg: 992px;
$md: 768px;
$sm: 576px;
