.advantages {
	padding: 112px 0;
	background-color: var(--color-blue);

	.advantages-container {
		display: flex;
	}

	.advantages-text {
		width: 64%;
		padding-right: 80px;
	}

	.advantages-image {
		width: 36%;
		overflow: hidden;
		line-height: 1;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.advantages-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 24px;
		row-gap: 40px;
	}

	.advantages-item {
		h4 {
			font-size: 20px;
			line-height: 1.4;
			color: var(--color-dark-text);
		}
	}
}

@media (max-width: $md) {
	.advantages {
		padding: 64px 0;

		.advantages-container {
			display: block;
		}

		.advantages-text {
			width: 100%;
			padding-right: 0;
		}

		.advantages-image {
			width: 100%;

			img {
				height: auto;
			}
		}

		.advantages-list {
			grid-template-columns: 1fr;
			row-gap: 32px;
			margin: 30px 0 48px;
		}

		.advantages-item {
			h4 {
				margin-bottom: 12px;
			}
		}
	}
}
