.cases {
	.cases-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 48px;
		row-gap: 80px;
	}

	.cases-item {
		img {
			width: 100%;
			margin-bottom: 24px;
		}

		h4 {
			@include font-style(24px, 20px, 700);
		}

		.text-16 {
			line-height: 1.5;
			margin-top: 8px;
		}
	}
}

@media (max-width: $md) {
	.cases {
		padding-top: 64px;
		.cases-list {
			grid-template-columns: 1fr;
			row-gap: 60px;
		}
	}
}
