.start {
	background-color: var(--color-black);
	.start-container {
		display: flex;
		overflow: hidden;
	}

	h2 {
		max-width: 650px;
	}

	.start-text {
		width: 64%;
		padding-right: 80px;
	}

	.start-image {
		width: 36%;
		overflow: hidden;
		line-height: 1;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}

@media (max-width: $md) {
	.start {
		.start-container {
			display: block;
		}

		h2 {
			font-size: 36px;
		}

		.start-text {
			width: 100%;
			padding-right: 0;
			margin-bottom: 48px;
		}

		.start-image {
			width: 100%;
		}
	}
}
